* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    color: white;
}


.container {
    width: 1280px;
    padding: 0 6px;
    margin: auto;
}


body {
    background: #ffff;
    font-family: 'Averta CY';
}

.registration {
	font-family: 'Averta CY';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	background: none;
	letter-spacing: 0.03em;
	border-radius: 40px;
	color: #FF3471;
	border: 1px solid #fff;
	padding: 19px 34px;
	transition: .6s;
}

.registration:hover {
	color: #fff;
	border: 1px solid #FF3471;
}

.start {
	font-family: 'Averta CY';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.03em;
	border-radius: 40px;
	color: #ffff;
	background: #FF3471;
	padding: 19px 34px;
	transition: .6s;
	border: none;
}

.start:hover {
	box-shadow: inset 0 0 10px 0 black, inset -160px -14px 100px -32px #710ba0;
	transform: scale(0.98);
}




@font-face {
    font-family: 'Averta CY';
    src: url('../Fonts/AvertaDemoPE-Regular.eot');
    src: local('Averta Demo PE Regular'), local('AvertaDemoPE-Regular'),
        url('../Fonts/AvertaDemoPE-Regular.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/AvertaDemoPE-Regular.woff2') format('woff2'),
        url('../Fonts/AvertaDemoPE-Regular.woff') format('woff'),
        url('../Fonts/AvertaDemoPE-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Averta CY';
    src: url('../Fonts/AvertaDemoPE-ExtraboldItalic.eot');
    src: local('Averta Demo PE Extrabold Italic'), local('AvertaDemoPE-ExtraboldItalic'),
        url('../Fonts/AvertaDemoPE-ExtraboldItalic.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/AvertaDemoPE-ExtraboldItalic.woff2') format('woff2'),
        url('../Fonts/AvertaDemoPE-ExtraboldItalic.woff') format('woff'),
        url('../Fonts/AvertaDemoPE-ExtraboldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}





@font-face {
	font-family: 'Roboto';
	src: url('../Fonts/Roboto-Regular.ttf');
	src: local('Roboto Regular'), local('Roboto-Regular'), 
	url('../Fonts/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

