#panellscreen {
	width: 100%;
	height: 150vh;
	background: url(../img/monitor.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 106px;
	text-transform: uppercase;
}     


#panellscreen h1 {
	font-size: 70px;
}


#panellscreen h3 {
	font-size: 32px;
}